name: Generate ISO
on:
  workflow_dispatch:
  push:
    paths:
      - 'recipes/recipe.yml'

jobs:
  build-iso:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: read
    steps:
      - name: Free Disk Space (The Purge)
        uses: jlumbroso/free-disk-space@main
        with:
          # This deletes everything we don't need for the ISO build
          tool-cache: true
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate ISO
        uses: ublue-os/isogenerator@main
        id: isogenerator
        with:
          IMAGE_NAME: ursaos
          IMAGE_REPO: ghcr.io/timothybear11
          IMAGE_TAG: latest
          VARIANT: 'Kinoite'
          VERSION: 43
          USE_CONTAINER: true 

      - name: Upload ISO to Job
        uses: actions/upload-artifact@v4
        with:
          name: UrsaOS-ISO
          path: ./*.iso
