name: Generate ISO
on:
  workflow_dispatch: # Allows you to click a button to start it
  push:
    paths:
      - 'recipes/recipe.yml' # Rebuilds ISO if you change the recipe

jobs:
  build-iso:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate ISO
        uses: blue-build/isogenerator-action@v1
        with:
          image-name: ursaos
          installer-repo: fedora-43
          image-tag: latest
          image-repository: ghcr.io/${{ github.repository_owner }}
          publish: true # This puts it in your "Releases" tab!
