name: Generate ISO
on:
  workflow_run:
    workflows: ["build"] # Ensure this matches the 'name:' in your main build.yml
    types: [completed]
  workflow_dispatch:

jobs:
  build-iso:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: read
    steps:
      - name: Generate ISO
        uses: ublue-os/isogenerator@main
        with:
          image_name: ursaos
          image_repo: ghcr.io/timothybear11
          image_tag: latest
          variant: 'Kinoite' # Bazzite is KDE-based, so Kinoite is the installer base
          version: 43
          publish: true
