name: Generate ISO
on:
  workflow_dispatch:
  push:
    paths:
      - 'recipes/recipe.yml'

jobs:
  build-iso:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      id-token: write
    steps:
      - name: Free Disk Space (The Purge)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate ISO
        uses: blue-build/cli-action@v1
        with:
          # This tells the official BlueBuild tool to make the ISO
          recipe: 'recipes/recipe.yml'
          generate_iso: true
          # This ensures it uses the image you already built
          registry_token: ${{ github.token }}
          # This will upload it as a "Release" automatically
          push: true
