name: Generate ISO
on:
  workflow_run:
    workflows: ["bluebuild"] # Ensure this matches the 'name:' in your main build.yml
    types: [completed]
  workflow_dispatch:

jobs:
  build-iso:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: read
    steps:
      - name: Generate ISO
        uses: ublue-os/isogenerator@v1
        with:
          image-name: ursaos
          installer-repo: fedora-43
          image-tag: latest
          # Replace 'timothybear11' with your GitHub username if different
          image-repository: ghcr.io/timothybear11 
          variant: 'Kinoite' # Because Bazzite is KDE-based
          version: 43
          publish: true
